// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content-ios {
    // background-color: #212e41 !important;
    background: linear-gradient(to bottom right, #ffffff, #9bd87b) !important;
    text-align: center;
    font-family: 'Lato-Light' !important;
}

.content-md {
    // background-color: #212e41 !important;
    background: linear-gradient(-210deg, #ffffff, #9bd87b) !important;
    text-align: center;
    font-family: 'Roboto' !important;
    @font-face {
        font-family: Roboto_Light;
        src: url(../assets/fonts/Roboto_Light.ttf) format("ttf");
        font-weight: 200
    }
    @font-face {
        font-family: Maiandra;
        src: url(../assets/fonts/Maiandra.ttf) format("ttf");
        font-weight: 200
    }
}

.no-scroll {
    .scroll-content {
        overflow: hidden !important;
    }
}

.toolbar-background-md {
    background: transparent;
}

.toolbar-background-ios {
    background: transparent;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f3f3f3;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #f3f3f3;
}

.toolbar-background-md {
    background: transparent;
}

.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f3f3f3;
}

.bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default {
    color: #f3f3f3;
}

.sendercontainer {
    background: white;
    border: 1px solid rgb(71, 71, 71);
    height: 10rem;
    color: rgb(71, 71, 71)
}

.sendercontainer:hover {
    background-color: rgb(71, 71, 71);
    color: white;
    p {
        color: white;
    }
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #000000;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
}

.bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default {
    color: #000000;
}

.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
}

.card-header-md {
    text-align: center;
    color: #000000 !important;
}

.card-header-ios {
    text-align: center;
    color: #000000 !important;
}