page-signup {
    .item-avatar {
        width: 50%;
    }
    .list-ios {
        margin: -1px 0 2px;
    }
    .item-ios {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        font-size: 1.7rem;
        background-color: transparent;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        margin: -1px 0 0px;
    }
    .item-ios.item-label-stacked .text-input,
    .item-ios.item-label-floating .text-input {
        margin-left: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        width: calc(100% - 8px);
        // font-family: Maiandra;
    }
    .list-ios>.item-block:first-child {
        border-top: 0px solid #c8c7cc;
        border-bottom: 0px solid #c8c7cc;
    }
    .list-ios>.item-block:last-child {
        border-top: 0px solid #c8c7cc;
        border-bottom: 0px solid #c8c7cc;
    }
    .list-md>.item-block:first-child {
        border-top: 0px solid #c8c7cc;
        border-bottom: 0px solid #c8c7cc;
    }
    .list-md>.item-block:last-child {
        border-top: 0px solid #c8c7cc;
        border-bottom: 0px solid #c8c7cc;
    }
    .paymentitem {
        border-bottom: 0px solid #c8c7cc;
    }
    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: rgb(71, 71, 71);
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid rgb(239, 214, 207);
    }
    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: rgb(127, 127, 127);
    }
     ::-webkit-input-placeholder {
        font-size: 10px;
        color: rgb(127, 127, 127);
    }
     :-moz-placeholder {
        /* older Firefox*/
        font-size: 14px;
        color: rgb(127, 127, 127);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
        color: rgb(127, 127, 127);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
     :-ms-input-placeholder {
        font-size: 14px;
        color: rgb(127, 127, 127);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    .checkbox-ios .checkbox-icon {
        border-radius: 20%;
        position: relative;
        width: 15px;
        height: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(239, 214, 207);
        background-color: #212e41 !important;
    }
    .checkbox-ios .checkbox-checked .checkbox-inner {
        left: 5px;
        top: 1px;
        position: absolute;
        width: 4px;
        height: 9px;
        border-width: 1px;
        border-top-width: 0;
        border-left-width: 0;
        border-style: solid;
        border-color: #769db6;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .item.item-ios .checkbox-ios {
        position: static;
        display: block;
        margin: 8px 4px 8px 0px;
    }
    .list-ios>.item-block:last-child .item-inner,
    .list-ios>.item-wrapper:last-child .item-block .item-inner {
        border-bottom: 0;
        font-size: 10px;
    }
    .terms {
        font-size: 16px;
        color: #000000;
        margin-left: 4px;
    }
    .row {
        display: block;
    }
    .button-ios {
        border-radius: 4px;
        height: 1.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #e8a54d;
        color: #000000;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .text-input-ios {
        margin: 16px 0px 0px 0;
        padding: 0;
        width: calc(100% - -8px);
    }
    .item-md {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        font-size: 1.7rem;
        background-color: transparent;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
    .list-md>.item-block:first-child {
        border-top: 0px solid #c8c7cc;
    }
    .list-md>.item-block:last-child {
        border-bottom: 0px solid #c8c7cc;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0.55px solid rgb(239, 214, 207);
    }
    .checkbox-md .checkbox-icon {
        border-radius: 20%;
        position: relative;
        width: 15px;
        height: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(127, 127, 127);
        background-color: #ffffff !important;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        left: 5px;
        top: 1px;
        position: absolute;
        width: 4px;
        height: 9px;
        border-width: 1px;
        border-top-width: 0;
        border-left-width: 0;
        border-style: solid;
        border-color: rgb(127, 127, 127);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 8px 4px 8px 0px;
    }
    .list-md>.item-block:last-child .item-inner,
    .list-md>.item-wrapper:last-child .item-block .item-inner {
        border-bottom: 0;
        font-size: 10px;
    }
    .button-md {
        text-align: center;
        border-radius: 4px;
        height: 1.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #000000;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .button-md.activated {
        color: #000000;
        background-color: #fff;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom: 0.55px solid rgb(239, 214, 207) !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom: 0.55px solid rgb(239, 214, 207) !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom: 0.55px solid rgb(239, 214, 207) !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom: 0.55px solid rgb(239, 214, 207) !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom: 0.55px solid rgb(239, 214, 207) !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: 0.55px solid rgb(239, 214, 207) !important;
        box-shadow: none !important;
    }
}